# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Code coverage and profiling
*.gcno
*.gcda
*.gcov

# visual studio code

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/c_cpp_properties.json

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Debug files
*.svd
debug_custom.json
debug.cfg

# Doxygen output
doc/API

# Python venv files
src/bin/
src/bin/
src/lib/
src/lib64/
src/logs/
src/pyvenv.cfg
# other
debug/

